## General
temp/
*.dot
*.png

## JetBrains
.idea/
*.iml
*.ipr
*.iws

## Scala
*.class
*.log

## SBT
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp/